<h2 style="text-align: center;margin-top: -150px; color: #3498db;"> experience </h2>

<div class="experience_image">
    <img src="{{ site.baseurl }}/assets/img/work.gif" class="work-image">
</div>

<ul class="timeline">
    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/uoe.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">PhD @ UoE
                </b>
                <br><i style="font-size:large">Autumn '24 - Present<br></i><br>
                <p>Supervised by <a href="https://homepages.inf.ed.ac.uk/amos/">Amos Storkey</a> and <a href="https://david-abel.github.io/">David Abel</a>. My PhD research focuses on continual learning, generative modelling and generalisation to OOD tasks, so I'm mainly dealing with the learning plasticity-memory stability trade-off. I also like to dabble in zero-shot generalisation, representation learning, and Bayesian statistical methods.</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/ukri.jpeg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">Senior Research Assistant
                </b>
                <br><i style="font-size:large">Spring - Summer '24<br></i><br>
                <p>Worked on a research project for an industry client, supervised by <a href="https://www.southampton.ac.uk/~jsh2/">Jonathon Hare</a> and funded by Innovate UK. Built a <a href="https://github.com/ben-sanati/3d-localisation-and-mapping">system</a> that localised and mapped objects within 3D point clouds of large vehicles.</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/cirium.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">Data Science Intern
                </b>
                <br><i style="font-size:large">Autumn '23<br></i><br>
                <p>Landed a Data Science internship at <a href="https://www.cirium.com/">Cirium</a> after a successful AI hackathon. Spent my time working on time-series forecasting and geospatial analysis using spatiotemporal DL techniques. Had a lot of fun with graph neural networks too.</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/scholar.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">Undergraduate Research Scholar
                </b>
                <br><i style="font-size:large">Summer - Autumn '22<br></i><br>
                <p>Bagged a scholarship to spend the summer on a research project of my choosing. I spent my time exploring efficient ML techniques, especially digging into adaptive computation tricks like <a href="https://arxiv.org/abs/2112.07658">A-VIT</a>.</p>
            </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/uos.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <div class="timeline-heading">
                    <b style="font-size:x-large">Master's @ UoS
                    </b>
                    <br><i style="font-size:large">Autumn '19 - Summer '23<br></i><br>
                    <p>Spent 4 years doing my integrated Master's in Electronic Engineering with Artificial Intelligence at the University of Southampton. I was lucky enough to be supervised by some great people, including <a href="https://www.southampton.ac.uk/~jsh2/">Jonathon Hare</a> (Master's thesis), <a href="https://www.geoffmerrett.co.uk/">Geoff Merrett</a> (3rd year thesis), and <a href="https://scholar.google.com/citations?user=TlRyZNMAAAAJ&hl=en">Lei Xun</a> (3rd year thesis).</p>
                </div>
            </div>
    </li>

</ul>


<style>
    /* Center the image */
    .experience_image {
        display: flex; /* Use flexbox for centering */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically (if parent has a height) */
        overflow: hidden; /* Prevent any overflow issues */
        margin-bottom: 30px;
    }

    /* Make the image full width of the screen */
    .work-image {
        height: auto; /* Maintain the aspect ratio */
        width: 40%; /* Prevent overflow */
        border-radius: 25px; /* Add rounded corners */
    }
</style>
