<h2 style="text-align: center;margin-top: -150px; color: #3498db;"> experience </h2>

<ul class="timeline">
    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/uoe.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">PhD @ UoE
                </b>
                <br><i style="font-size:large">'24 - Present<br></i><br>
                <p>Currently being supervised by <a href="https://homepages.inf.ed.ac.uk/amos/">Amos Storkey</a>, <a href="https://david-abel.github.io/">Dave Abel</a>, and <a href="https://ignaciocarlucho.github.io/">Ignacio Carlucho</a>. Researching DRL, MARL, zero-shot generalisation, continual learning, and representation learning. </p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/scholar.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">Senior Research Assistant
                </b>
                <br><i style="font-size:large">Spring - Summer '24<br></i><br>
                <p></p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/cirium.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">Data Science Intern
                </b>
                <br><i style="font-size:large">Autumn '23<br></i><br>
                <p></p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/amzn.svg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">Undergraduate Research Scholar
                </b>
                <br><i style="font-size:large">Summer - Autumn '22<br></i><br>
                <p></p>
            </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/uos.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <div class="timeline-heading">
                    <b style="font-size:x-large">Master's @ UoS
                    </b>
                    <br><i style="font-size:large">Autumn '19 - Summer '23<br></i><br>
                    <p></p>
                </div>
            </div>
    </li>


</ul>