<h2 style="text-align: center;margin-top: -150px; color: #3498db;"> experience </h2>

<ul class="timeline">
    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/uoe.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">PhD @ UoE
                </b>
                <br><i style="font-size:large">'24 - Present<br></i><br>
                <p>Currently being supervised by <a href="https://homepages.inf.ed.ac.uk/amos/">Amos Storkey</a>, <a href="https://david-abel.github.io/">Dave Abel</a>, and <a href="https://ignaciocarlucho.github.io/">Ignacio Carlucho</a>. Researching DRL, MARL, zero-shot generalisation, continual learning, and representation learning. </p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/paige.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">healthcare ai
                </b>
                <br><i style="font-size:large">Summer '21-Summer '22, Spring '20, Summer '19<br></i><br>
                <p> worked at <a href="https://paige.ai/">paige ai</a> as a research scientist developing deep learning
                    models for
                    pathology -- also
                    worked at <a href="https://pacmed.ai/en/">pacmed ai</a> in 2019 and response4life covid
                    forecasting in 2020</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/berkeley.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">phd at uc berkeley
                </b>
                <br><i style="font-size:large">Fall '17-Spring '22<br></i><br>
                <p> researched interpretable machine learning, especially for neural networks and in scientific
                    applications, working in the <a href="https://www.stat.berkeley.edu/~binyu/Site/Welcome.html">bin
                        yu
                        group</a></p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/amzn.svg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">big tech internships
                </b>
                <br><i style="font-size:large">Summer '17, Summer '20<br></i><br>
                <p> worked on unsupervised semantic segmentation at <a href="https://ai.meta.com/research/">meta ai</a>,
                    and worked on causal fairness benchmarking
                    in computer vision at <a href="https://aws.amazon.com/machine-learning/ai-services/">aws</a></p>
            </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/uva.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <div class="timeline-heading">
                    <b style="font-size:x-large">undergrad
                    </b>
                    <br><i style="font-size:large">summer '14- spring '17<br></i><br>
                    <p> worked on graphical models under <a href="https://www.cs.virginia.edu/yanjun/">Yanjun
                            Qi</a>
                        and on biophysical modeling under <a href="http://faculty.virginia.edu/levylab/">William
                            Levy</a> -- also spent 3 summers doing research at HHMI Janelia under <a
                            href="https://scholar.google.com/citations?user=V_NdI3sAAAAJ&hl=en&oi=ao">Srini Turaga</a>
                    </p>
                </div>
            </div>
    </li>


</ul>