<h2
  class="gallery_heading"
  style="text-align: center; margin-top: -150px; margin-bottom: -25px; color: #3498db"
>
  Highlights
</h2>

<div class="gallery_1" unique-script-id="w-w-dm-id">
  <div class="featured-image-container">
    <img
      class="fullWidthImage"
      src="{{ site.baseurl }}/assets/img/conditional_path.gif"
    />
  </div>
  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block imgContainer">
        <div class="project project1">
          <img
            class="smallImage"
            src="{{ site.baseurl }}/assets/img/classlatentdynamics0.gif"
          />
        </div>
        <div class="project project2">
          <img
            class="smallImage"
            src="{{ site.baseurl }}/assets/img/forward_noise.png"
          />
        </div>
        <div class="project project3">
          <img
            class="smallImage"
            src="{{ site.baseurl }}/assets/img/robotarm.gif"
          />
        </div>
        <div class="project project4">
          <img
            class="smallImage"
            src="{{ site.baseurl }}/assets/img/trajectories.png"
          />
        </div>
        <div class="project project5">
          <img
            class="smallImage"
            src="{{ site.baseurl }}/assets/img/LiDARMap.gif"
          />
        </div>
        <div class="project project6">
          <img
            class="smallImage"
            src="{{ site.baseurl }}/assets/img/transition.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
