<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <!-- Brand Name: This will be visible only on desktop -->
            <a class="navbar-brand page-scroll" href="#page-top" style="font-weight:italic">
                Ben Sanati
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                {% if page.url contains 'notes' or page.url contains 'projects' or page.url contains 'blog' or page.url contains 'ovw' or page.url contains 'pres'%}
                    <li><a class="page-scroll" href="{{site.baseurl}}/#research">research</a></li>
                    <li><a class="page-scroll" href="{{site.baseurl}}/#experience">experience</a></li>
                {% else %}
                    <li><a class="page-scroll" href="#research">research</a></li>
                    <li><a class="page-scroll" href="#experience">experience</a></li>
                {% endif %}
            </ul>

            <!-- Social Buttons -->
            <ul class="list-inline social-buttons navbar-nav navbar-right">
                <li><a href="mailto:s2719541@ed.ac.uk"><i class="fa fa-envelope fa-fw"></i></a></li>
                <li><a href="{{ site.url }}/assets/cv/cv_temp.pdf">cv</a></li>
                <li><a href="https://github.com/ben-sanati"><i class="fa fa-github fa-fw"></i></a></li>
                <li><a href="https://www.linkedin.com/in/benjamin-sanati/"><i class="fa fa-linkedin fa-fw"></i></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<style>
    /* Navbar custom styles */
    .navbar-custom .navbar-brand {
        /* Center align on desktop */
        left: 10%;
    }

    .navbar-custom .navbar-nav {
        /* Align to the right on desktop */
        right: 10%;
    }

    /* Mobile styles */
    @media (orientation: portrait) {
        .navbar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar-toggle {
            margin-right: 20px;
        }

        .navbar-custom .navbar-collapse {
            /* Ensure content is stacked properly */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .navbar-custom .navbar-nav {
            width: 100%; /* Full width for mobile */
            padding: 10px 0; /* Top and bottom padding */
        }

        .social-buttons {
            display: block; /* Show social buttons on mobile */
            margin-top: 10px; /* Add margin for spacing */
            padding: 10px; /* Add padding for the buttons */
            width: 100%; /* Full width for buttons */
            text-align: right; /* Align text to the right */
        }

        /* Hide the brand name for mobile */
        .navbar-custom .navbar-brand {
            display: none; /* Hide brand name */
        }

        /* Show social buttons at the top of the navbar */
        .social-buttons {
            position: absolute; /* Position the social buttons absolutely */
            right: 0; /* Align to the right */
            top: 10px; /* Adjust vertical alignment as needed */
            margin-right: 10px; /* Add right margin for spacing */
        }
    }

    /* Hide social buttons on larger screens */
    @media (min-width: 769px) {
        .social-buttons {
            display: none; /* Hide social buttons on desktop */
        }
    }
</style>
