<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Add viewport meta tag -->
    {% include head.html %}
    <div id="particles-js" text-align="center"></div>
    {% include navigation.html %} {% include js.html %}
    <script
      src="https://kit.fontawesome.com/ace312f182.js"
      crossorigin="anonymous"
    ></script>

    <!-- Navigation Styling -->
    <link
      href="{{ site.baseurl }}/assets/css/navigation.css"
      rel="stylesheet"
    />

    <!-- Styling Tables -->
    <link
      href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
      rel="stylesheet"
    />
    <link href="{{ site.baseurl }}/assets/css/lowercase.css" rel="stylesheet" />

    <!-- Section Styling -->
    <link href="{{ site.baseurl }}/assets/css/about.css" rel="stylesheet" />
    <link href="{{ site.baseurl }}/assets/css/research.css" rel="stylesheet" />
    <link
      href="{{ site.baseurl }}/assets/css/experience.css"
      rel="stylesheet"
    />
    <link href="{{ site.baseurl }}/assets/css/gallery.css" rel="stylesheet" />
  </head>
  {% include 00_about.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <section id="research" class="container content-section">
      <div class="col-lg-10 col-lg-offset-1">
        {% include 01_research.html %}
      </div>
    </section>

    <section id="experience" class="container content-section">
      <div class="col-lg-64 col-lg-offset-0">
        {% include 02_experience.html %}
      </div>
    </section>

    <section id="gallery" class="container content-section-gallery">
      <div class="col-lg-64 col-lg-offset-0">
        {% include 03_gallery.html %}
      </div>
    </section>
  </body>
</html>
